/* body */
body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
  color: #363636;
}

/* Entire Navagation bar */
.navigation-bar {
  background-color: white;
  height: 100%;
  width: 10%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}

/* All Navigatin images */
.elephant {
  height: 100px;
  width: 100px;
  padding: 25px;
  margin-bottom: 80px;
}

/* <ul> Parent Element in navigation */
.nav-link-imgs {

}
/* <li> navigation image elements with shared class */
.nav-icons {
  height: 60px;
  width: 60px;
  padding-left: 3px;
}

.nav-icons:hover{
  border-left: 5px solid #1CA3BA;
}

/* <li> navigation image elements with individual classes */
.img-clipboard {

}

.img-woman {
  margin-bottom: 100%;
  padding-left: 5px
}

.wallet-img {
  margin: 10px 0;
}

/* Main */
main{
  margin-left: 12%;
}

/* <h1> Title of balancing act*/
.balancing-act {

}

/* <article> Main content of page */
.main-article {

}

/* <section> Accounts wrapper for all of the account info */
.middle-content {
  display: inline-block;
  width: 47%;
}

/* <id> Welcomeing the user banner */
#welcome-header {
  background: linear-gradient( to right, #8ED1DC, #E3F4F6);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* <h3> Welcome text and close icon*/
.physical-welcome {
  display: inline-block;
  margin-left: 30px;
}

#close-icon{
  width: 10px;
  height: 20px;
  margin-left: 390px;
  margin-bottom: 20px;
}

/* <div> wrapper to three user info cells */
.personal-account-info {

}

/* Shared class between income, expense, credit score */
.personal-cell {
  width: 163px;
  display: inline-block;
  background-color: white;
  margin: 12px 15px;
  padding: 16px 0;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* individual classes for income, expense, credit score */
.income-cell {
  margin-left: 0px;
}

.expense-cell {
  margin-left: 32px;
}

.credit-score-cell {
  margin-right: 0px;
  margin-left: 37px;
}

/* shared classes for <p>-text in `personal-cell` */
.account-cell-title {
  padding: 0 10px;
  margin: 0px;
  font-size: 10px;
}

/* shared classes for <p>-number in `personal-cell` */
.account-cell-value {
  padding: 0 10px;
  margin: 0px;
  font-size: 18px;
}

/* <section> All accounts information  */
.accounts-section {

}

/* <h2> contains Accounts title and button */
.accounts-title {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* <button> Manage Accounts button */
.manage-accounts-button {
  border: 2px #1CA3BA solid;
  background-color: #1CA3BA;
  color: #fff;
  margin-left: 275px;
  border-radius: 2em;
  height: 30px;
  font-size: 18px;
  padding: 0 28px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* <div> All accounts info */
.user-accounts {

}

/* shared user accounts cells */
.account-cells {
  /* border: 2px coral solid; */
  margin: 10px 0;
  background-color: white;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* images in account-cell with a shared class*/
.account-imgs {
  height: 30px;
  width: 60px;
}

/* <p> vendors with shared class */
.vendor {
  width: 10px;
  display: inline;
  margin-left: 68px;
}

/* <p> account types with shared class */
.vendor-account-type {
  display: inline-block;
}

/* <p> individual classes of vendor type */
.account-vendor-checking {
  margin-left: 252px;
}

.account-vendor-save {
  margin-left: 253px;
}

.account-vendor-credit-card3 {
  margin-left: 230px;
}

.account-vendor-credit-card4 {
  margin-left: 210px;
}

/* <section> All user transaction history */
.all-transactions {
  float: right;
  width: 46%;
  height: 442px;
  margin-right: 2%;
  background-color: white;
  padding: 10px 21px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* <div> Transaction history title */
.transaction-title {

}

/* <h2> transaction title text */
.recent-trans {
  /* border: 2px solid lightblue; */
  margin-left: 25px;
}
/* <button> of transaction  */
.manage-transaction-button {
  border: 2px #1CA3BA solid;
  background-color: #1CA3BA;
  color: #fff;
  margin-left: 88px;
  border-radius: 2em;
  height: 30px;
  font-size: 18px;
  padding: 0 28px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
}

/* table */
table {
  border-collapse: collapse;
  table-layout: auto;
  width: 100%;
}

tr {
  border-bottom: 2px solid #CCCCCC;
}

/* <th> header of table with shared class */
.table-keys {
  text-align: left;
}

/* individual column with shared class */
.payee-column {
  font-weight: bold;
}




















xxx
