/* <heading> */
/* body */
body {
  background-color: #F5F5F5;
  margin: 0;
  padding: 0;
  font-family: 'Biryani', sans-serif;
  color: #363636;
}
/* Entire Navagation bar */
.navigation-bar {
  /* border: 2px solid orange; */
  background-color: white;
  height: 100%;
  width: 10%;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
}
/* nav icons */
.elephant {
  height: 100px;
  width: 100px;
  padding: 25px;
  margin-bottom: 80px;

}
/* Listed imgs */
.nav-link-imgs {

}
.nav-icons {
  height: 60px;
  width:60px;
}
.img-woman {
  margin-bottom: 100%;
}
.wallet-img {
  margin: 10px 0;
}

/* Main */
main{
margin-left: 12%;
  }
/* Title of balancing act*/
.balancing-act {
}
.balancing-act h1 {
/* padding-left: 40px; */
}

/* Main content of page <article>*/
.main-article {
  /* border: 10px solid black; */
}
.middle-content {
  display: inline-block;
  width: 47%;
}

.welcome-header {
  border: 2px yellow solid;
  /* background-image: linear-gradient(#8ED1DC #E3F4F6); */
}
.physical-welcome {
  display: inline-block;
  margin-left: 30px;
}

.close-icon{
  width: 10px;
  height: 20px;
  margin-left: 390px;
  margin-bottom: 20px;
  /* position: absolute;
  top: 0;
  right: 0; */
}
/* Personal user info <div><section1 continued> */
.personal-account-info {
  border: 2px solid red;
}
/* income, expense, credit score */
.personal-cell {
  border: 2px solid black;
  width: 200px;
  display: inline-block;
  background-color: white;
}

/* Accounts information <section2> */
.accounts-section {
  /* border: 2px solid green; */
}

/* contains "Accounts" and button */
.accounts-title {
  padding-left: 10px;
  margin-bottom: 10px;
}

/* Manage Accounts button */
.manage-accounts-button {
  border: 2px #1CA3BA solid;
  background-color: #1CA3BA;
  margin-left: 275px;
  border-radius: 2em;
  height: 30px;
  font-size: 18px;
  padding: 0 28px;
}

/* user accounts <div> */
.user-accounts {
  /* border: 2px lightblue solid; */
}

/* individual accounts */
.account-cells {
  /* border: 2px coral solid; */
  margin: 10px 0;
  background-color: white;
}
.account-imgs {
  height: 30px;
  width: 60px;
}
.vendor {
  width: 10px;
  display: inline;
  margin-left: 68px;
}
.vendor-account-type {
  display: inline-block;
}
.account-vendor-checking{
  margin-left: 260px;
}
.account-vendor-save {
  margin-left: 280px;
}
.account-vendor-credit-card3 {
  margin-left: 230px;
}
.account-vendor-credit-card4 {
  margin-left: 210px;
}

/* All user transaction history <section3>*/
.all-transactions {
  /* border: 2px solid blue; */
  float: right;
  width: 46%;
  height: 569px;
  margin-right: 2%;
  background-color: white;
}

/* Transaction history title <div> */
.transaction-title {
  border: 2px solid white;

}
/* transaction title */
.recent-trans {
  /* border: 2px solid lightblue; */
  margin-left: 25px;
}
/* new transaction button */
.manage-transaction-button {
  border: 2px #1CA3BA solid;
  background-color: #1CA3BA;
  margin-left: 88px;
  border-radius: 2em;
  height: 30px;
  font-size: 18px;
  padding: 0 28px;
}
.table-keys {
  color: blue;
}
.payee-column {

}




















xxx
